.About-container {
    width: 100%;
    background-image: url(/About-BitcoinButik.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
    font-size: 30px;
    letter-spacing: 1px;
}

.About-title h1 {
    color: #664D28;
    text-align: center;
    padding: 20px;
    font-size: 34px;
}

.About-container-Box-Image {
    padding: 40px 0px;
    /* background-image: url(/public/About-Welcome.webp); */
    background: linear-gradient(to bottom, #f4d4a7, #e8ddd4);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.About-container-Box-title {
    font-size: 26px;
    font-weight: 200;
    color: #664D28;
    line-height: 35px;
    text-align: justify;
    cursor: pointer;
}

.About-container-Box-des {
    padding: 30px 0px;
}

.About-container-Box-des p {
    cursor: pointer;
    color: #68502d;
    font-weight: 300;
    text-align: justify;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
}


@media (max-width: 992px) {

    .About-container-Box-title {
        font-size: 20px;
    }

    .About-container-Box-des p {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .About-container-Box-title {
        font-size: 18px;
    }
    .About-container-Box-des p {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .About-container-Box-title {
        font-size: 16px;
    }
    .About-container-Box-des p {
        font-size: 14px;
    }
}